{
    "endpoint":{
        "listen":"0.0.0.0:443",
        "cert_file":"./keys/server.crt",
        "key_file":"./keys/server.key"
    },
    "network_cidr":"10.8.0.0/16",
    "dns_server":"8.8.8.8",
    "client_route":["1.0.0.0/8", "2.0.0.0/7", "4.0.0.0/6", "8.0.0.0/5", "16.0.0.0/4", "32.0.0.0/3", "64.0.0.0/2", "128.0.0.0/1"],
    "server_route":[],
    "bind_ip":[],
    "upstream_traffic_limit":52428800,
    "downstream_traffic_limit":104857600,
    "auth":{
        "file":{
            "path":"users.credentials"
        },
        "http":{
            "url":"http://127.0.0.1/auth",
            "timeout":5
        },
        "ldap":{
            "host":"ldap://127.0.0.1:389",
            "dn":"CN=users,DC=polevpn,DC=com",
        }
    }
}
